body {
  padding: 0;
  margin: 0;
}

p {
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

h2 {
  padding-top: 0;

  font-size: 40px;
  text-align: center;
}

ul li {
  font-size: 20px;
  list-style-type: circle;
}

.image-1 {
  width: 100%;
}

.image-2 {
  width: 50%;
}

.image-3 {
  width: 50%;
}

.links {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
}
a:visited {
  color: darkblue;
}

a:hover {
  color: yellow;
}

#engine {
  color: red;
}

b + i {
  color: red;
}

p span {
  color: blue;
}
